<header class="main-header">
	<nav class="navbar navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<%= link_to root_path, class: "navbar-brand" do %>
					<b>lovely</b>Site
				<% end %>
			</div>
			<div class="pull-left">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							More <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<li class="dropdown user user-menu">
						<a href="#">
							<img src="/faith.JPG" class=" user-image" alt="User Image"/>
							<span class="hidden-xs">Hello juliet!</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>